*{
    margin:0;
    padding:0;
}
.home{
    background-color: #282c34;
    min-height: 100vh;
    display:flex;
    align-items: center;  
    justify-content: center;
}
.back-page{
    background-color:transparent;
    width:190vh;
    min-height:90vh;   
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header{
    height:60px;
    width:190vh;
    Background-color:transparent;
    display:flex;
    justify-content: space-between;
}
.footer{
    height:40px;
    width:190vh;
    Background-color:transparent;
    display: flex;
    justify-content: space-between;
    
}
.header-content{
    width:60px;
    height:60px;
    background-color: transparent;
    color:#fff;
    font-size: 16px;  
}
.header-inner-content{
    width:60px;
    height:2px;
    background-color: #fff;
    color:#fff;
    margin-top:08px;
}
.header-button{
    width:60px;
    height:24px;
    background-color: transparent;
    color:transparent
}
.footer-content-one{
    width:110px;
    height:40px;
    background-color: transparent;
    color:#fff;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.footer-content-two{
    width:50px;
    height:40px;
    background-color: transparent;
    color:#fff;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.footer-content-three{
    width:40px;
    height:40px;
    background-color: transparent;
    color:#fff;
    font-size: 30px;
}
.square-one{
     width:73vh;
     height:73vh;
     background-color: transparent;
    border: 1px solid white;
     display:flex;
     align-items: center;
     justify-content: center;
}
.square-two{
    width:49vh;
    height:49vh;
    background-color: transparent;
    border: 1px solid white;
    display:flex;
    align-items: center;
    justify-content: center;
}
.square-three{
    width:25vh;
    height:25vh;
    background-color: transparent;
    border: 1px solid white;
    
    /* display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 60px;
    color:#fff; */
}
.square-three-text-one{
    width:25vh;
    height:30px;
    background-color: transparent;
    display:flex;
    font-size: 16px;
    color:#fff;
    text-align: center;   
    justify-content: center; 
    align-items: center;
}
.square-three-text-ref{
    width:25vh;
    height:80px;
    background-color: transparent;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 100px;
    color:#fff;
}
.menu-page{
    width:1000px;
    height:500px;
    margin-left:200px;
    background-color: #aaa;
    position: absolute;
}
